# IndexIgnore * # prevent directory listing

# Order deny,allow
# Allow from *

RewriteEngine On

RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^aliens/([0-9]+)/?$ alien.php?id=$1 [NC,L]
RewriteRule ^(.*)/$ /$1.php [NC,L]
RewriteRule ^([^.]+)$ $1.php [NC,L]
