@font-face {
  font-family: "BC Alphapipe";
  font-style: normal;
  font-weight: 400;
  src: url("assets/bc-alphapipe.ttf");
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  outline: 0;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  font-family: "BC Alphapipe";
  color: #ffffff;
}

a {
  cursor: pointer;
  color: #ffffff;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0.5em;
  padding-top: 0.5em;
}

footer a {
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}

img.logo {
  width: 4em;
  height: 4em;
}

#alien {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#alien .name {
  font-size: 3em;
  font-size: 8vw;
  font-size: min(8vw, 3em);
  margin: 0.5em 0px 0px 0px;
  text-align: center;
}

.info {
  text-align: center;
  padding-top: 1em;
}

.info p {
  margin: 0px;
  white-space: nowrap;
}

.info p {
  font-size: 1.5em;
  font-size: 3vw;
  font-size: min(3vw, 1.5em)
}

.fadein {
  opacity: 0;
}

#viewer {
  max-width: 70vh;
  width: 100%;
}

.social {
  position: fixed;
  bottom: 0.5em;
  right: 0.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.social a {
  width: 2em;
  height: 2em;
  background-size: cover;
  opacity: 0.5;
  margin: 0px 0.125em;
}

.social a:hover {
  opacity: 1;
  text-decoration: none;
}

.social a span {
  display: none;
}

.social a:hover span {
  display: inline-block;
  position: absolute;
  top: -2.5em;
  right: 0%;
  white-space: nowrap;
  background-color: #7f7f7f;
  padding: 0.5em;
  border-radius: 0.5em;
}

.social .twitter {
  background-image: url('/assets/twitter.png');
}

.social .facebook {
  background-image: url('/assets/facebook.png');
}